{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    
   {% for guide in guides %}
        {{guide.title}}
        <br>
        <a href="{{ path('app_guide_show', {'id': guide.id}) }}">
            <img src="{{ asset('uploads/images/' ~ guide.img) }}" width="500">
        </a>
        <br>
        
   {% endfor %}
    {{ dump(app.user) }}
{% endblock %}
