{% extends 'base.html.twig' %}
{% block title %}Mentions Légales & RGPD{% endblock %}

{% block body %}
    <div class="legal-container">
        <h1>Mentions Légales</h1>
        <p>Ce site est un projet personnel développé dans le cadre d'une formation en développement web.</p>

        <h2>Responsable de la publication</h2>
        <p>Nom: Theo Jean</p>

        <h2>Hébergement</h2>
        <p>Ce site est hébergé par Arinfo , situé à 2 Rue de la Voie Lactée, 72000 Le Mans, France.</p>

        <h2>Politique de Confidentialité (RGPD)</h2>
        <p>Nous respectons votre vie privée. Voici comment nous traitons vos données :</p>

        <h2>Collecte des données</h2>
        <p>Les seules données collectées sont celles fournies volontairement lors de l'inscription ou de l'utilisation des services (postes, réponses, votes).</p>

        <h2>Utilisation des données</h2>
        <p>Vos données ne sont utilisées que pour le bon fonctionnement du site et ne sont pas partagées avec des tiers.</p>

        <h2>Droits des utilisateurs</h2>
        <p>Vous avez le droit d'accéder, de modifier ou de supprimer vos données. Contactez-nous pour toute demande.</p>
    </div>
{% endblock %}