{% extends 'base.html.twig' %}

{% block title %}Edit Reply{% endblock %}

{% block body %}
    <h1>Edit Reply</h1>

    {{ include('reply/_form.html.twig', {'button_label': 'Update'}) }}

    <a  class="edit-cancel" href="{{ path('home') }}">Annuler</a>

    {{ include('reply/_delete_form.html.twig') }}
{% endblock %}
