{% extends 'base.html.twig' %}

{% block title %}nouvelle réponse
{% endblock %}

{% block body %}
	<h1>Créer une réponse</h1>

	{{ include('reply/_form.html.twig') }}

	<a class="edit-cancel" href="{{ path('home') }}">Annuler</a>
{% endblock %}
