* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  background-color: #181818;
  color: #D9D9D9;
  gap: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 35px;
  text-transform: capitalize;
  text-shadow: 1px 1px 5px #1E1E1E;
}

.inline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.inline span {
  font-weight: 700;
}
.inline img {
  height: 0.8em;
}

.title {
  font-weight: bold;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
}

.btn-submit {
  background-color: #1E1E1E;
  color: #D9D9D9;
  border: solid 1px #00E5FF;
  border-color: #f700ff #00E5FF #00E5FF #f700ff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.btn-submit:hover {
  background-color: #00E5FF;
  color: #181818;
  border-color: #1E1E1E;
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
  transform: scale(1.05);
}
.btn-submit:active {
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
  transform: scale(1.05);
}
.btn-submit.active {
  background-color: #00E5FF;
  color: #181818;
  border-color: #1E1E1E;
}

.btn-delete {
  background-color: #1E1E1E;
  color: #D9D9D9;
  border: solid 1px #f700ff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(247, 0, 255, 0.3);
}
.btn-delete:hover {
  background-color: #f700ff;
  color: #181818;
  border-color: #1E1E1E;
  box-shadow: 0 4px 12px rgba(247, 0, 255, 0.6);
  transform: scale(1.05);
}
.btn-delete:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 229, 255, 0.4);
}

.user-icon {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  border: solid 1px #00E5FF;
  overflow: hidden;
}
.user-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-icon:hover {
  transition: all 0.3s ease-in;
  transform: translateY(-5px);
}

.home-icon {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;
  width: 100%;
  padding: 2em;
  background-color: #1E1E1E;
  border-bottom: solid 5px #00E5FF;
  padding-right: 30px;
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
}
.nav-bar .logo-wrapper {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}
.nav-bar .logo-wrapper a img {
  height: 200px;
  width: 200px;
}
.nav-bar .logo-wrapper a img:hover {
  transition: all 0.3s ease-in;
  scale: 1.05;
}
.nav-bar .nav-login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  gap: 20px;
}
.item-container .item-home-card {
  text-align: center;
  background-color: #1E1E1E;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  border-radius: 15px;
  width: 30%;
  height: 500px;
  padding: 30px;
  overflow-y: scroll;
}
.item-container .item-home-card:hover {
  transition: all 0.3s ease-in;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
}
.item-container .portal-background {
  width: 100%;
  border-radius: 15px;
}
.item-container .item-card {
  text-align: center;
  background-color: #1E1E1E;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  border-radius: 15px;
  width: 25%;
  padding: 30px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}
.item-list .item-card {
  text-align: center;
  background-color: #1E1E1E;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  border-radius: 15px;
  width: calc(25% - 48px);
  height: 500px;
  padding: 30px;
  box-sizing: border-box;
}
.item-list .item-card p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item-list .item-card.today {
  width: calc(50% - 80px);
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #f700ff;
  border-left: solid 5px #f700ff;
  background-color: #00E5FF;
  color: #181818;
  box-shadow: none;
}
.item-list .item-card.today .rewards {
  display: flex;
  justify-content: end;
  align-items: end;
  color: #181818;
}
.item-list .item-card .rewards {
  display: flex;
  justify-content: end;
  align-items: end;
}
.item-list .item-card > img {
  max-width: 100%;
  height: auto;
}
.item-list .item-card:hover {
  border: solid 1px #f700ff;
  border-bottom: solid 5px #f700ff;
  border-left: solid 5px #f700ff;
  transition: all 0.3s ease-in;
  transform: translateY(-5px);
}

.server-img {
  border-radius: 15px;
  scale: 1.2;
}

.portal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/zaap.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 98%;
  min-height: 80vh;
}

.edit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: #181818;
}

.edit-container {
  padding: 2rem;
  width: 100%;
  gap: 2rem;
}
.edit-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 8px;
  width: 80%;
  min-height: 500px;
  gap: 30px;
  background: rgba(24, 24, 24, 0.8);
  -webkit-backdrop-filter: blur(7.4px);
          backdrop-filter: blur(7.4px);
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
}

.form-input {
  text-align: center;
  width: 60%;
  height: 80px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-bottom: solid 5px #00E5FF;
  background-color: #1E1E1E;
  border-radius: 15px;
  color: #D9D9D9;
  font-size: 1rem;
  transition: border 0.3s ease-in-out;
  outline: none;
}
.form-input::-moz-placeholder {
  color: #D9D9D9;
  opacity: 0.7;
}
.form-input::placeholder {
  color: #D9D9D9;
  opacity: 0.7;
}
.form-input:hover {
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  outline: none;
}
.form-input.text {
  height: 300px;
}
.form-input.tag {
  height: -moz-fit-content;
  height: fit-content;
}

.edit-cancel {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #00E5FF;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.edit-cancel:hover {
  color: #D9D9D9;
}

.category-background {
  background-image: url("/images/bonta.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 1em;
  border-top: solid 5px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
}
.category-background h2 {
  margin-top: 100px;
  color: #D9D9D9;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 1px 1px 5px #1E1E1E;
}
.category-background .categories-home {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  height: auto;
  justify-content: center;
  gap: 80px;
}
.category-background .categories-home .categories-card {
  color: #D9D9D9;
  text-shadow: 1px 1px 5px #1E1E1E;
}
.category-background .categories-home .categories-card img {
  width: 300px;
  height: 169px;
  border-radius: 15px;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
}
.category-background .categories-home .categories-card img:hover {
  transition: all 0.3s ease-in;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
}

.guide-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
}
.guide-list .guide-card {
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
  background-color: #1E1E1E;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  border-radius: 15px;
  text-align: center;
}
.guide-list .guide-card .guide-background {
  display: flex;
  align-items: center;
  justify-content: center;
}
.guide-list .guide-card .guide-background img {
  width: 720px;
  height: 480px;
  border-radius: 15px;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
}
.guide-list .guide-card:hover {
  transition: all 0.3s ease-in;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
}

.guide-index {
  width: 90%;
  padding: 30px;
  background-color: #1E1E1E;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  border-radius: 15px;
  text-align: center;
}
.guide-index img {
  border-radius: 15px;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
}
.guide-index p {
  font-size: 2em;
  padding: 10px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.post-title {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid 5px #00E5FF;
}

.post-home {
  width: 99%;
}
.post-home .post-sort-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  background-image: url("/images/bonta.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: #D9D9D9;
  text-shadow: 1px 1px 5px #1E1E1E;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
}
.post-home .post-sort-background h3 {
  margin: 0;
}
.post-home .post-sort-background .sort-btn {
  margin-top: 2em;
  margin-bottom: 2em;
}
.post-home .post-sort-background .sort-btn a {
  margin: 1em;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #1E1E1E;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  border-radius: 15px;
}
.post-container .post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-container .post-head .post-vote {
  text-align: center;
  width: 20%;
  margin: 30px;
}
.post-container .post-head .post-vote p {
  font-size: 2em;
  font-weight: bold;
}
.post-container .post-head .post-vote button {
  scale: 1.5;
  margin: 0;
}
.post-container .message-user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00E5FF;
  font-size: 1.5em;
  width: 20%;
  margin-bottom: 30px;
}
.post-container .message-user a:hover {
  text-decoration: underline;
  text-decoration-color: #00E5FF;
}
.post-container .message-user img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-left: 10px;
  border: 1px solid transparent;
}
.post-container .message-user img:hover {
  border: solid 1px #f700ff;
}
.post-container .post-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post-container .post-body a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-container .post-body a img {
  max-width: 80%;
  border-radius: 15px;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
}
.post-container .post-body p {
  font-size: 1.5em;
  padding: 10px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
.post-container .post-date {
  display: flex;
  justify-content: end;
  padding: 1%;
}
.post-container .post-actions {
  display: flex;
  gap: 10px;
  padding: 1%;
}

.active-up-vote {
  background-color: #00E5FF;
}

.active-down-vote {
  background-color: #f700ff;
}

.reply-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.reply-container .reply-content {
  margin-bottom: 3em;
  border: solid 1px #f700ff;
  border-bottom: solid 5px #f700ff;
  border-left: solid 5px #f700ff;
  border-radius: 15px;
  background-color: #1E1E1E;
  padding: 1%;
}
.reply-container .reply-content .message-user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00E5FF;
  font-size: 1.5em;
  margin-bottom: 30px;
}
.reply-container .reply-content .message-user a:hover {
  text-decoration: underline;
  text-decoration-color: #00E5FF;
}
.reply-container .reply-content .message-user img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-left: 10px;
  border: 1px solid transparent;
}
.reply-container .reply-content .message-user img:hover {
  border: solid 1px #f700ff;
}
.reply-container .reply-content .post-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reply-container .reply-content .post-body a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reply-container .reply-content .post-body a img {
  max-width: 80%;
  border-radius: 15px;
  border-bottom: solid 5px #f700ff;
  border-left: solid 5px #f700ff;
}
.reply-container .reply-content .post-body p {
  font-size: 2em;
  font-weight: bolder;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.reply-container .reply-content .post-date {
  display: flex;
  justify-content: end;
}
.reply-container .reply-content .post-actions {
  display: flex;
  gap: 10px;
}

.user-container {
  display: flex;
  flex-direction: row;
  width: 98%;
}
.user-container .user-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 25%;
  height: 1000px;
  padding: 20px;
  margin-left: 10px;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  background-color: #1E1E1E;
  border-radius: 15px;
}
.user-container .user-profile .user-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.user-container .user-profile .user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.user-container .user-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.user-container .user-post .post-container {
  width: 80%;
}
.user-container .user-post .post-container .message-user {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-bottom: 30px;
}
.user-container .user-post .post-container .message-user a img {
  width: 60px;
  height: 60px;
}
.user-container .user-post .reply-container {
  width: 80%;
}
.user-container .user-post .reply-container .message-user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.user-container .user-post .reply-container .message-user a img {
  width: 60px;
  height: 60px;
}

.dashboard-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.dashboard-guides,
.dashboard-categories {
  flex: 1;
  min-width: 45%;
  background: var(--color-secondary);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.3);
}

.table-admin-guide {
  width: 98%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: #1E1E1E;
  border-radius: 10px;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  overflow: hidden;
}
.table-admin-guide .table-row {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 3% 10% 30% 10% 10% 25%;
  align-items: center;
  padding: 15px;
}
.table-admin-guide .table-row p {
  text-align: center;
  padding: 5px;
}
.table-admin-guide .table-row {
  border-bottom: 1px solid #00E5FF;
}
.table-admin-guide .table-row:last-child {
  border-bottom: none;
}
.table-admin-guide .table-row p {
  color: #D9D9D9;
}
.table-admin-guide .table-row p:nth-child(3) {
  text-align: left;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-admin-guide .table-row div {
  display: flex;
  justify-content: center;
}
.table-admin-guide .table-row div img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.table-admin-guide .table-row .actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.table-admin-guide .table-row .actions button {
  width: 100%;
}

.table-admin-category {
  width: 98%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: #1E1E1E;
  border-radius: 10px;
  border: solid 1px #f700ff;
  border-bottom: solid 5px #f700ff;
  border-left: solid 5px #f700ff;
  overflow: hidden;
}
.table-admin-category .table-header,
.table-admin-category .table-row {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 5% 10% 15% 10% 25%;
  align-items: center;
  padding: 15px;
}
.table-admin-category .table-header p,
.table-admin-category .table-row p {
  text-align: center;
  padding: 5px;
}
.table-admin-category .table-header {
  background: #00E5FF;
  color: #181818;
  font-weight: bold;
  text-transform: uppercase;
}
.table-admin-category .table-row {
  border-bottom: 1px solid #00E5FF;
}
.table-admin-category .table-row:last-child {
  border-bottom: none;
}
.table-admin-category .table-row p {
  color: #D9D9D9;
}
.table-admin-category .table-row p:nth-child(3) {
  text-align: left;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-admin-category .table-row div {
  display: flex;
  justify-content: center;
}
.table-admin-category .table-row div img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.table-admin-category .table-row .actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.table-admin-category .table-row .actions button {
  width: 100%;
}

.legal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #181818;
  color: #D9D9D9;
  padding: 20px;
  border: solid 1px #00E5FF;
  border-bottom: solid 5px #00E5FF;
  border-left: solid 5px #00E5FF;
  border-radius: 15px;
}
.legal-container p {
  text-align: center;
  line-height: 1.6;
}
.legal-container h1,
.legal-container h2 {
  text-align: center;
  color: #00E5FF;
  text-shadow: 1px 1px 5px #1E1E1E;
}

@media (max-width: 1300px) {
  .nav-bar .nav-link {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
  }
  .nav-bar .nav-link a {
    scale: 1.2;
  }
  .nav-bar .logo-wrapper {
    top: 85%;
  }
  .nav-bar .logo-wrapper a img {
    height: 200px;
    width: 200px;
  }
  .nav-bar .nav-login {
    flex-direction: column-reverse;
  }
  .nav-bar .nav-login a .icon {
    width: 120px;
    height: 120px;
  }
  .item-container {
    flex-direction: column;
  }
  .item-container .item-home-card {
    width: 90%;
  }
  .item-container .item-home-card .home-icon {
    width: 120px;
    height: 120px;
  }
  .item-container .item-home-card p,
  .item-container .item-home-card h3 {
    font-size: 30px;
  }
  .item-container .portal-background {
    background-position: center;
  }
  .portal-details img {
    visibility: hidden;
  }
  .post-container {
    width: 95%;
  }
  .post-container .post-head .title {
    font-size: 1.5em;
  }
  .post-container .post-head .message-user {
    width: 30%;
  }
  .post-container .post-head .post-vote {
    font-size: 1em;
  }
  .post-container .post-head .post-vote button {
    scale: 1;
  }
  .reply-container {
    width: 70%;
  }
  .user-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .user-container .user-profile {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    gap: 2em;
  }
  .user-container .user-profile .user-infos {
    gap: 1em;
  }
  .user-container .user-post {
    width: 100%;
  }
  .user-container .user-post .post-container {
    width: 100%;
  }
  .user-container .user-post .post-head .message-user {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
  }
  .item-list .item-card {
    width: calc(50% - 32px);
  }
  .item-list .item-card.today {
    width: calc(50% - 32px);
  }
  .guide-list .guide-card {
    width: 100%;
  }
  .table-admin-category .table-row {
    grid-template-columns: 1% 5% 25% 10% 25%;
  }
  .table-admin-category .table-row p {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .nav-bar .logo-wrapper {
    top: 100%;
  }
  .nav-bar .logo-wrapper a img {
    height: 150px;
    width: 150px;
  }
  .nav-bar .nav-login {
    flex-direction: column-reverse;
  }
  .nav-bar .nav-login a .icon {
    width: 100px;
    height: 100px;
  }
  .post-container {
    width: 95%;
  }
  .post-container .post-head .title {
    font-size: 1em;
  }
  .post-container .post-head .message-user {
    flex-direction: column;
  }
  .post-container .post-head .message-user a p {
    font-size: 0.8em;
  }
  .user-post .post-container {
    width: 95%;
  }
  .user-post .post-container .post-head .title {
    font-size: 1em;
  }
  .user-post .post-container .post-head .message-user {
    flex-direction: column;
  }
  .user-post .post-container .post-head .message-user a p {
    font-size: 0.8em;
  }
  .item-container .item-home-card {
    width: 100%;
  }
  .item-container .item-home-card .home-icon {
    width: 90px;
    height: 90px;
  }
  .item-list .item-card {
    width: 90%;
  }
  .item-list .item-card.today {
    width: 90%;
  }
}/*# sourceMappingURL=app.css.map */