// 🎨 Variables
$color-background: #181818; // Noir charbon
$color-primary: #00E5FF; // Cyan néon
$color-text: #D9D9D9; // Gris clair
$color-secondary: #1E1E1E; // Bleu nuit
$color-pink: #f700ff; // rose

$text-shadow: 1px 1px 5px #1E1E1E;
$text-shadow-primary: 1px 0px 0px #00E5FF;
$text-shadow-pink: 1px 0px 0px #f700ff;

$border: solid 1px $color-primary;
$border-bottom: solid 5px $color-primary;
$border-left: solid 5px $color-primary;

$border-pink: solid 1px $color-pink;
$border-bottom-pink: solid 5px $color-pink;
$border-left-pink: solid 5px $color-pink;

$border-bicolor: $color-pink $color-primary $color-primary $color-pink;


* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    background-color: $color-background;
    color: $color-text;
    gap: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 35px;
    text-transform: capitalize;
    text-shadow: $text-shadow;
}


.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

    span {
        font-weight: 700;
    }

    img {
        height: 0.8em;
    }
}

.title {
    font-weight: bold;
    color: inherit;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
}

.btn-submit {
    background-color: $color-secondary;
    color: $color-text;
    border: $border;
    border-color: $border-bicolor;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;


    &:hover {
        background-color: $color-primary;
        color: $color-background;
        border-color: $color-secondary;
        box-shadow: 0 4px 12px rgba($color-primary, 0.6);
    }

    &:active {
        box-shadow: 0 4px 12px rgba($color-primary, 0.6);
    }

    &.active {
        background-color: $color-primary;
        color: $color-background;
        border-color: $color-secondary;

    }


}

.btn-delete {
    background-color: $color-secondary;
    color: $color-text;
    border: $border-pink;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba($color-pink, 0.3);

    &:hover {
        background-color: $color-pink;
        color: $color-background;
        border-color: $color-secondary;
        box-shadow: 0 4px 12px rgba($color-pink, 0.6);
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
        box-shadow: 0 2px 6px rgba($color-primary, 0.4);
    }
}


.icon {
    width: 40px;
    height: 80px;
}

.home-icon {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}


//  Nav Bar
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
    width: 100%;
    padding: 2em;
    background-color: $color-secondary;
    border-bottom: $border-bottom;
    padding-right: 30px;
    box-shadow: 0 4px 12px rgba($color-primary, 0.6);


    .logo-wrapper {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);

        a {
            img {
                height: 250px;
                width: 250px;
            }

            img:hover {
                scale: 1.05;
            }
        }

    }

    .nav-login {
        display: flex;
        align-items: center;
        gap: 10px;


        .icon {
            width: 120px;
            height: 120px;
            border-radius: 15px;
            border: $border;
        }

        .icon:hover {
            scale: 1.05;
        }
    }

}


// Almanax // portails
.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    gap: 20px;


    .item-home-card {
        text-align: center;
        background-color: $color-secondary;
        border: $border;
        border-bottom: $border-bottom;
        border-left: $border-left;
        border-radius: 15px;
        width: 30%;
        height: 500px;
        padding: 30px;
        overflow-y: scroll;

    }

    .portal-background {
        width: 100%;
        border-radius: 15px;
    }

    .item-card {
        text-align: center;
        background-color: $color-secondary;
        border: $border;
        border-bottom: $border-bottom;
        border-left: $border-left;
        border-radius: 15px;
        width: 25%;
        padding: 30px;

    }

}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;

    .item-card {
        text-align: center;
        background-color: $color-secondary;
        border: $border;
        border-bottom: $border-bottom;
        border-left: $border-left;
        border-radius: 15px;
        width: calc(25% - 16px * 3);
        height: 500px;
        padding: 30px;
        box-sizing: border-box;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }

        &.today {
            width: calc(50% - 16px * 5);
            border: $border;
            border-bottom: $border-bottom-pink;
            border-left: $border-left-pink;
            background-color: $color-primary;
            color: $color-background;
            box-shadow: none;

            .rewards {
                display: flex;
                justify-content: end;
                align-items: end;
                color: $color-background;
            }
        }

        .rewards {
            display: flex;
            justify-content: end;
            align-items: end;
        }

        >img {
            max-width: 100%;
            height: auto;
        }
    }

    .item-card:hover {
        border: solid 1px $color-pink;
        border-bottom: $border-bottom-pink;
        border-left: $border-left-pink;
        box-shadow: none;
    }
}

.server-img {
    border-radius: 15px;
    scale: 1.2;
}

.portal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

// Formulaires
.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/zaap.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 98%;
    min-height: 80vh;
}

.edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: $color-background;

}

.edit-container {
    padding: 2rem;
    width: 100%;
    gap: 2rem;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 8px;
    width: 80%;
    min-height: 500px;
    gap: 30px;
    background: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(7.4px);
    border: $border;
    border-bottom: $border-bottom;
    border-left: $border-left;


}

.form-input {
    text-align: center;
    width: 60%;
    height: 80px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-bottom: $border-bottom;
    background-color: $color-secondary;
    border-radius: 15px;
    color: $color-text;
    font-size: 1rem;
    transition: border 0.3s ease-in-out;
    outline: none;

    &::placeholder {
        color: $color-text;
        opacity: 0.7;
    }

    &:hover {
        border: $border;
        border-bottom: $border-bottom;
        border-left: $border-left;
        outline: none;
    }

    &.text {
        height: 300px;
    }

    &.tag {
        height: fit-content;
    }
}


.edit-cancel {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: $color-primary;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
        color: $color-text;
    }
}

.category-background {
    background-image: url('/images/bonta.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: $border-bottom;
    box-shadow: 0 4px 12px rgba($color-primary, 0.6);

    h2 {
        margin-top: 100px;
        color: $color-text;
        text-transform: uppercase;
        font-size: 40px;
        text-shadow: $text-shadow;
    }

    .categories-home {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        height: auto;
        justify-content: center;
        gap: 80px;

        .categories-card {
            color: $color-text;
            text-shadow: $text-shadow;

            img {
                width: 300px;
                height: 169px;
                border-radius: 15px;
                border: $border;
                border-bottom: $border-bottom;
                border-left: $border-left;


            }
        }

    }
}



// guides


.guide-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;

    .guide-card {
        width: 70%;
        padding: 30px;
        background-color: $color-secondary;
        border: $border;
        border-bottom: $border-bottom;
        border-left: $border-left;
        border-radius: 15px;
        text-align: center;

        .guide-background {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 720px;
                height: 480px;
                border-radius: 15px;
                border-bottom: $border-bottom;
                border-left: $border-left;
            }
        }
    }

}

.guide-index {
    width: 90%;
    padding: 30px;
    background-color: $color-secondary;
    border: $border;
    border-bottom: $border-bottom;
    border-left: $border-left;
    border-radius: 15px;
    text-align: center;

    img {
        border-radius: 15px;
        border-bottom: $border-bottom;
        border-left: $border-left;
    }

    p {
        font-size: 2em;
        padding: 10px;
        font-weight: bolder;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
    }


}

//post

.post-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: $border-bottom;
}

.post-home {
    width: 99%;

    .post-sort-background {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-transform: capitalize;
        background-image: url('/images/bonta.png');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        border-radius: 15px;
        color: $color-text;
        text-shadow: $text-shadow;
        border: $border;
        border-bottom: $border-bottom;
        border-left: $border-left;
        box-shadow: 0 4px 12px rgba($color-primary, 0.6);

        h3 {
            margin: 0;
        }

        .sort-btn {
            margin-top: 2em;
            margin-bottom: 2em;

            a {
                margin: 1em;
            }
        }
    }

}

.post-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: $color-secondary;
    border: $border;
    border-bottom: $border-bottom;
    border-left: $border-left;
    border-radius: 15px;

    .post-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-vote {
            text-align: center;
            width: 20%;
            margin: 30px;


            p {
                font-size: 2em;
                font-weight: bold;
            }

            button {
                scale: 1.5;
                margin: 0;
            }
        }



    }

    .message-user {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        font-size: 1.5em;
        width: 20%;
        margin-bottom: 30px;



        a:hover {
            text-decoration: underline;
            text-decoration-color: $color-primary;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 15px;
            margin-left: 10px;
            border: 1px solid transparent;


        }

        img:hover {
            border: $border-pink;
        }
    }

    .post-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 80%;
                border-radius: 15px;
                border-bottom: $border-bottom;
                border-left: $border-left;
            }
        }

        p {
            font-size: 1.5em;
            padding: 10px;
            font-weight: bolder;
            width: 100%;
            text-align: center;
            text-transform: capitalize;

        }
    }

    .post-date {
        display: flex;
        justify-content: end;
        padding: 1%;
    }

    .post-actions {
        display: flex;
        gap: 10px;
        padding: 1%;

    }
}

.active-up-vote {
    background-color: $color-primary;
}

.active-down-vote {
    background-color: $color-pink;
}

//reply

.reply-container {
    display: flex;
    flex-direction: column;
    width: 60%;

    .reply-content {
        margin-bottom: 3em;
        border: $border-pink;
        border-bottom: $border-bottom-pink;
        border-left: $border-left-pink;
        border-radius: 15px;
        background-color: $color-secondary;
        padding: 1%;


        .message-user {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-primary;
            font-size: 1.5em;
            margin-bottom: 30px;

            a:hover {
                text-decoration: underline;
                text-decoration-color: $color-primary;
            }

            img {
                width: 60px;
                height: 60px;
                border-radius: 15px;
                margin-left: 10px;
                border: 1px solid transparent;


            }

            img:hover {
                border: $border-pink;
            }
        }

        .post-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 80%;
                    border-radius: 15px;
                    border-bottom: $border-bottom-pink;
                    border-left: $border-left-pink;
                }
            }

            p {
                font-size: 2em;
                font-weight: bolder;
                padding: 10px;
                width: 100%;
                text-align: center;
                text-transform: capitalize;

            }


        }

        .post-date {
            display: flex;
            justify-content: end;
        }


        .post-actions {
            display: flex;
            gap: 10px;
        }
    }
}




//profile

.user-container {
    display: flex;
    flex-direction: row;
    width: 98%;


    .user-profile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 25%;
        height: 1000px;
        padding: 20px;
        margin-left: 10px;
        border: $border;
        border-bottom: $border-bottom;
        border-left: $border-left;
        background-color: $color-secondary;
        border-radius: 15px;

        .user-infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3em;

            img {
                width: 200px;
                border: $border;
            }
        }

        .user-actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
        }

    }

    .user-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;

        .post-container {
            width: 80%;

            .message-user {
                display: flex;
                flex-direction: column;
                font-size: 1em;
                margin-bottom: 30px;

                a {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }

        .reply-container {
            width: 80%;

            .message-user {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                a {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }



    }

}


//dashboard

.dashboard-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.dashboard-guides,
.dashboard-categories {
    flex: 1;
    min-width: 45%;
    background: var(--color-secondary);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 229, 255, 0.3);
}


.table-admin-guide {
    width: 98%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background: $color-secondary;
    border-radius: 10px;
    border: $border;
    border-bottom: $border-bottom;
    border-left: $border-left;
    overflow: hidden;



    .table-row {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 3% 10% 30% 10% 10% 25%;
        align-items: center;
        padding: 15px;

        p {
            text-align: center;
            padding: 5px;
        }
    }



    .table-row {
        border-bottom: 1px solid $color-primary;

        &:last-child {
            border-bottom: none;
        }

        p {
            color: $color-text;
        }


        p:nth-child(3) {
            text-align: left;
            padding: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


        div {
            display: flex;
            justify-content: center;

            img {
                width: 80px;
                height: 80px;
                border-radius: 5px;
            }
        }


        .actions {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            button {
                width: 100%;
            }
        }
    }
}


.table-admin-category {
    width: 98%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background: $color-secondary;
    border-radius: 10px;
    border: $border-pink;
    border-bottom: $border-bottom-pink;
    border-left: $border-left-pink;
    overflow: hidden;


    .table-header,
    .table-row {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 5% 10% 15% 10% 25%;
        align-items: center;
        padding: 15px;

        p {
            text-align: center;
            padding: 5px;
        }
    }

    .table-header {
        background: $color-primary;
        color: $color-background;
        font-weight: bold;
        text-transform: uppercase;
    }

    .table-row {
        border-bottom: 1px solid $color-primary;

        &:last-child {
            border-bottom: none;
        }

        p {
            color: $color-text;
        }


        p:nth-child(3) {
            text-align: left;
            padding: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


        div {
            display: flex;
            justify-content: center;

            img {
                width: 80px;
                height: 80px;
                border-radius: 5px;
            }
        }


        .actions {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            button {
                width: 100%;
            }
        }
    }

}

// RGPD
.legal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-background;
    color: $color-text;
    padding: 20px;
    border: $border;
    border-bottom: $border-bottom;
    border-left: $border-left;
    border-radius: 15px;

    p {
        text-align: center;
        line-height: 1.6;
    }

    h1,
    h2 {
        text-align: center;
        color: $color-primary;
        text-shadow: $text-shadow;
    }
}



@import './_tab.scss';
@import './_phone.scss';