:root {
    --color-background: #1E1E1E;
    /* Noir charbon */
    --color-primary: #00E5FF;
    /* Cyan néon */
    --color-text: #D9D9D9;
    /* Gris clair */
    --color-secondary: #072D38;
    /* Bleu nuit */
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);
    gap: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 35px;
}

.title {
    font-weight: bold;
    color: inherit;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
}


.btn-submit {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: 2px solid var(--color-primary);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 229, 255, 0.3);
}

.btn-submit:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    border-color: var(--color-secondary);
    box-shadow: 0 4px 12px rgba(0, 229, 255, 0.6);
    transform: scale(1.05);
}

.btn-submit:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 229, 255, 0.4);
}

.logo:hover {
    scale: 1.08;
}

/* NAV BARRE */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 100px;
    border-radius: 15px;
    background-color: var(--color-secondary);
    border: solid 1px var(--color-primary);
    padding-right: 30px;

    img {
        height: 80px;
        width: 80px;
    }

    .nav-login {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-right: 50px;
    }

}

/* ALMANAX */
.almanax-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 98%;

    .almanax-card {
        text-align: center;
        background-color: var(--color-secondary);
        border: solid 1px var(--color-primary);
        border-radius: 15px;
        width: 25%;
        padding: 30px;
    }
}

.almanax-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    .almanax-card {
        text-align: center;
        background-color: var(--color-secondary);
        border: solid 1px var(--color-primary);
        border-radius: 15px;
        width: calc(25% - 32px);
        padding: 30px;
        box-sizing: border-box;

        .almanax-card img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}








/* FORM */

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/zaap.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 98%;
    height: 80vh;
}


.form-title {
    color: var(--color-text);
    font-size: 80px;
    margin-bottom: 1.5rem;

}

/* Conteneur du formulaire */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-primary);
    width: 30%;
    height: 500px;
    gap: 30px;
    background: rgba(168, 188, 190, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 3px solid var(--color-background);
}

/* Champ de formulaire */
.form-input {
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 1rem;
    transition: border 0.3s ease-in-out;
}

.form-input::placeholder {
    color: var(--color-text);
    opacity: 0.7;
}

.form-input:hover {
    border: 2px solid var(--color-primary);
    outline: none;
}

/* Bouton */
.form-btn {
    width: 200px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.form-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.form-group {

    a {
        text-decoration: underline;
        padding-left: 15px;
        font-weight: bold;
        color: inherit;
        text-transform: capitalize;
        letter-spacing: 1px;
        text-align: center;
        font-size: 20px;
    }

    a:hover {
        color: var(--color-primary);
    }
}

/* GUIDES */
.guides-background {
    background-image: url('/images/bonta.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
    width: 99%;
    border-radius: 15px;
    border: solid 1px var(--color-primary);


    h2 {
        margin-top: 100px;
        color: var(--color-text);
        text-transform: uppercase;
        font-size: 40px;
        text-shadow: 0 4px 12px rgb(0, 0, 0);
    }
}


.guides-home {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 80px;



    .guides-card {
        border: solid 1px var(--color-primary);
        border-radius: 15px;
        background-color: var(--color-secondary);
        color: var(--color-text);
        height: 169px;
        ;

        img {
            width: 300px;
            height: 169px;
            border-radius: 15px;

        }
    }

    .guides-card:hover {
        background-color: var(--color-primary);
        color: var(--color-background);
        scale: 1.08;

    }

}

/* POSTES */
.post-home {
    height: 600px;
    width: 99%;

    .post-background {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-transform: capitalize;
        background-image: url('/images/bonta.png');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        border-radius: 15px;
        color: var(--color-text);
        text-shadow: 0 4px 12px rgb(0, 0, 0);
        border: solid 1px var(--color-primary);

        .sort-btn {
            margin-bottom: 10px;
        }
    }
}