<form method="post" action="{{ path('app_guide_delete', {'id': guide.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guide.id) }}">
	<button class="btn-delete">supprimer</button>
</form>
